
.menu{
  width: 100%;
  float: left;
  background-color: #111;
  padding: 18px 8%;

}
.menu li{
  float: left;
}
.menu li a{
  color: rgb(167, 162, 168);
  margin-right: 25px ;
  text-decoration: none;
}
.menu li a:hover{
  color: rgb(33, 73, 204);
}

