*{
  margin:0;
  padding: 0;
  font-size: 100%;
  font-family: ;
  box-sizing: border-box;
  border: none;
  outline: none;
}
header{
  width: 100%;
  float: left;
  padding:50px 8%;
  background-color: aquamarine;
}
header h1{
  width: 50%;
  float: left;
}
.menu{
  width: 100%;
  float: left;
  background-color: #111;
  padding: 18px 8%;

}
.menu li{
  float: left;
}
.menu li a{
  color: rgb(167, 162, 168);
  margin-right: 25px ;
  text-decoration: none;
}
.menu li a:hover{
  color: rgb(33, 73, 204);
}

